pre {
  padding: 0;
  margin: 0;
}

.World {
  border: 1px solid black;
  position: absolute;
  width: 100%;
  min-height: 10cm;
}

.Body {
  border: 1px solid red;
  width: 32px;
  height: 32px;
  position: absolute;

  font-size: 8pt;
  overflow: visible;
  white-space: nowrap;
}